/* * {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
} */
.container-fluid {
  background-color: white;
  padding-top: 15px;
}
.first-p {
  color: rgb(64, 64, 64);
  display: block;
  font-family: Interstate, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 79.2px;
  line-height: 27px;
  margin-block-end: 18px;
  margin-block-start: 0px;
  margin-bottom: 18px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  width: 1168px;
}
.app {
  background-color: #f4f4f4;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: white;
}
h2,
.topic {
  text-align: center;
}

.block-content {
  color: rgb(64, 64, 64);
  display: block;
  font-family: Interstate, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  width: ;
}
.center-container {
  height: 750px;
  background-color: #151946;
  margin: 0 auto;
  font-family: "Merriweather", serif;
}
.center {
  padding-top: 375px;
  font-size: 32px;
  background-color: #151946;
  text-align: center;
}

li {
  color: white;
  font-weight: 600;
  margin: 5px;
  text-align: left;
  list-style-type: square;
}

ul {
  text-align: left;
  margin-left: 0;
}

.week-title {
  color: #1683b6;
}

a {
  color: #1683b6;
}
